#breadcrumb-container
header.aui-page-header.aui-page-header-fixed.header-with-border
  .aui-page-header-inner
    h1
      span.reports-subnav-container
        span.reports-subnav-title
          span.subnavigator-title
            | Sessions