doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Jira Estimation
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='//aui-cdn.atlassian.com/aui-adg/5.9.12/css/aui.min.css', media='all')
    link(rel='stylesheet', href='/css/main.css')

  body.z-index-content(id="content")
    include partials/sessions/header
      //include partials/flash
    block content

    //include partials/footer

    script(src='/js/lib/jquery.min.js')
    //script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/popper.min.js')
    //script(src='/js/main.js')

    p(style="display:none;")
      | <script id="connect-loader" data-options="sizeToParent:true;">
      | (function() {
      | var getUrlParam = function (param) {
      | var codedParam = (new RegExp(param + '=([^&]*)')).exec(window.location.search)[1];
      | return decodeURIComponent(codedParam);
      | };
      | var baseUrl = getUrlParam('xdm_e') + getUrlParam('cp');
      | var options = document.getElementById('connect-loader').getAttribute('data-options');
      | var script = document.createElement("script");
      | script.src = baseUrl + '/atlassian-connect/all.js';
      | if(options) {
      | script.setAttribute('data-options', options);
      | }
      | document.getElementsByTagName("head")[0].appendChild(script);
      | })();
      | </script>

    // Google Analytics: change UA-XXXXX-X to be your site's ID
    //script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X', 'auto');
      ga('send', 'pageview');
