header.aui-page-header
  .aui-page-header-inner
    .aui-page-header-main
      ol.aui-nav.aui-nav-breadcrumbs
      h1 Sessions
    .aui-page-header-actions
      .aui-buttons
        button.aui-button.aui-button-primary(onclick="alert('Created clicked!');") Create a Session